<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Home</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous" />
<style type="text/css">
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Raleway, sans-serif;
}

body {
	background: linear-gradient(90deg, #c7c5f4, #776bcc);
}

.container {
	
}

.nav {
	background: linear-gradient(90deg, #776bcc, #c7c5f4);
}
</style>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Book Doctor</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="#">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Bookings</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div>
			<div class="card">
				<div class="card-header">Details</div>
				<div class="card-body">
					<p class="card-text">
						<b>First Name : </b><span th:text="${user.firstName}"></span>
					</p>
					<p class="card-text">
						<b> Last Name :</b> <span th:text="${user.lastName}"></span>
					</p>
					<p class="card-text">
						<b> Email : </b><span th:text="${user.email}"></span>
					</p>
					
				</div>
			</div>
		</div>
		<div>
			<div class="card">
				<div class="card-header">Bookings</div>
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>
								<th>Doctor</th>
								<th>Time</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${bookings.empty}">
								<td colspan="2">No Bookings Available</td>
							</tr>
							<tr th:each="booking : ${bookings}">
								<td><span th:text="${booking.doctorName}"> Title </span></td>
								<td><span th:text="${booking.slotTime}"> Author </span></td>
								<td><span><a href="booking" class="btn btn-danger">Delete</a></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>